@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fadeIn {
    animation: fadeIn 0.8s ease-out forwards;
  }

  /* @keyframes spinSlow {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  .animate-spin {
    animation: spinSlow 8s linear infinite;
  }

  @keyframes pulseSlow {
    0%,
    100% {
      transform: scale(1);
      opacity: 0.4;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.6;
    }
  }
  .animate-slow {
    animation: pulseSlow 5s ease-in-out infinite;
  } */